<h1>Led pattern tester</h1>

<h2>Current stack</h2>
<% if(currentAction){ %>
  <p><%= currentAction.name %> (<%= currentAction.id %>)</p>
<% } %>
<% if(actions.length > 0){ %>
  <ul>
    <% actions.forEach(function(action){ %>
      <li><%= action.name %> (<%= action.id %>)</li>
     <% }) %>
  </ul>
<% } else { %>
  <p>No actions in stack.</p>
<% } %>

<form action="<%= req.baseUrl + "/" %>" method="post">
  <label for="field_pattern">
    Pattern:
  </label>
  <select id="field_pattern" name="pattern">
    <% patterns.forEach(function(pattern){ %>
      <option value="<%= pattern %>"><%= pattern %></option>
    <% }); %>
  </select>

  <label for="field_frametime">
    Frametime:
  </label>
  <input type="text" if="field_frametime" name="frametime" value="100">


  <label for="field_interval">
    Interval:
  </label>
  <input type="text" if="field_interval" name="interval" value="100">

  <button name="perform" value="push">Push!</button>
  <button name="perform" value="pop">Pop!</button>
</form>